@font-face {
    font-family: 'SF Pro';
    src: url('../assets/fonts/FontsFree-Net-SFProText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'SF Pro';
    src: url('../assets/fonts/SFPRODISPLAYHEAVYITALIC.OTF') format('opentype');
    font-weight: italic;
    font-style: italic;
  }

@font-face {
    font-family: 'SF Pro';
    src: url('../assets/fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
    font-weight: bold;
    font-style: bold;
  }


body{
    margin: 0;
    font-family: 'SF Pro', sans-serif;
    
}

.home-page {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content:center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: fixed;  /* Make the navbar sticky */
    top: 40px;
    width: 90%;
    z-index: 10;
}

.logo-container img {
    height: 35px;
}   

.nav-links{
    list-style: none;
    display: flex;  
    gap: 80px;
}

.nav-link{
    text-decoration: none;
    color: rgba(229, 216, 216, 0.8);
    background-color: rgba(0, 0, 0, 0.01);
    font-size: 24px;
    font-weight: 500;   
    
}

/* Hero Section */
.hero-section {
   height: 100vh;
   width: 100%;
   background-size:cover;
   background-position: center;
   display: flex;
   background-image: url('../assets/lionsideface.png');
   justify-content: center;
   align-items: center;
   text-align: center;
   position: relative;
  }

  .hero-section::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-image: url('../assets/lionsideface.png'); /* Lion image */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
    opacity: 0.35;
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-title {
    font-size: 130px;
    font-weight: bold;
    margin: 20px;
    background:linear-gradient(93.28deg, #FFCC00 -2.06%, #CC6600 140.93%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.hero-title span {
    font-style: italic;
}

.hero-subtitle {
    font-size: 32px;
    font-weight: 500;
    margin: 10px 0 20px;
    color: #FFFAFA;
  }
  
.hero-button {
    background:linear-gradient(93.28deg, #FFCC00 -2.06%, #CC6600 140.93%);
    color: #162960;
    border-style:#e5941f;
    height: 85px;
    margin: 50px;
    padding: 0px 30px;
    font-size: 36px;
    font-weight: 600;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    white-space: nowrap;
    border-color: #e5941f;
    
  }

  .hero-button:hover {
    color: #e5941f;
    background:transparent;
    
  }